.CampaignMenuScene {
  overflow: hidden;
  widows: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at center, #b8c6c6 70%,#616c68 100%);
}

.CampaignMenuScene-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.CampaignMenuScene-container-background {
  max-width: 100%;
  margin: auto;
}

.CampaignMenyScene-return {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1000;
}

.CampaignMenyScene-return:hover {
  font-weight: bold;
}
