.MainMenuScene {
  padding: 15% 0% 0% 0%;
}

.MainMenuScene-item {
  cursor: pointer;
  margin-bottom: 16px;
}

.MainMenuScene-item:hover {
  font-weight: bold;
}

.MainMenuScene-version {
  text-align: right;
  color: lightgray;
  margin-top: 64px;
  margin-right: 64px;
}
