.MainMenuScene {
  box-sizing: border-box;
  padding-top: 15%;
  height: 100vh;
}

.MainMenuScene-item {
  cursor: pointer;
  margin-bottom: 16px;
}

.MainMenuScene-item:hover {
  font-weight: bold;
}

.MainMenuScene-version {
  position: absolute;
  text-align: right;
  color: lightgray;
  bottom: 32px;
  right: 32px;
}
