.AttackAnimationModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.33);
}

.AttackAnimationModal-inner {
}

.AttackAnimationModal-panel {
  width: 512px;
  height: 512px;
}
