@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
}

canvas:focus {
  outline: none;
}

/* Utilities */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-grow {
  flex-grow: 1;
}

.no-select {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.text-align-right {
  text-align: right;
}
